= simple_form_for(@school) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :code
    = f.input :address
    = f.input :phone
    = f.input :postal

  .form-actions
    = f.button :submit
