!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? [yield(:title),t('appname')].join(" - ").html_safe : t('appname')
      %meta{:content => content_for?(:description) ? yield(:description) : "Zhaosheng", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              -unless @hide_breadcrumbs
                .breadcrumb 
                  =breadcrumbs.render(:format=>'inline')
                  -if @title_in_breadcrumbs
                    %h1=yield(:header)
              = yield
          %footer
            %hr
            -if is_home?
              .links=snip_get("home")
            &copy; 
            2013 www.zhaoshang100.com -
            =t('appname')
            .pull-right 
      / ! end of .container
    / ! end of #main
    -if Rails.env.production?
      .hidden
        <script language="javascript" type="text/javascript" src="http://js.users.51.la/16652392.js"></script>
        <noscript><a href="http://www.51.la/?16652392" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/16652392.asp" style="border:none" /></a></noscript>
